.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;

    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 40px;
        }
        .logoname{
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .navigation{
        display: flex;
        gap: 20px;
        
        .change-theme{
            cursor: pointer;
        }
    }
}