@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Triodion&display=swap');

*{
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: var(--primary-text-color) !important;
  border-color:var(--primary-text-color) !important;
}

:root{
   /** light mode colors */

   --primary-text-color:#111519; /*? important sentences */
   --secondary-text-color:#3c454e; /*? for paragraphs or sentences not really important */
   --background-color:#EAE8FF; /*? background color  */
   --hover-color:#5755892e; /*? for effects as hover and others */
   --secondary-background-color: rgb(206, 206, 250);
}

.dark{
     /** dark mode colors */
     --primary-text-color:#ffffff; /*? important sentences */
     --secondary-text-color:#8b86b0; /*? for paragraphs or sentences not really important */
     --background-color:#2D3142; /*? background color  */
     --hover-color:#5755892e; /*? for effects as hover and others */
     --secondary-background-color:rgb(8, 8, 50) ;

     background-color: var(--background-color) !important;
     color: var(--primary-text-color) !important;
}

body{
  background-color: var(--background-color);
}

.App{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-color .4s;
  background-color: var(--background-color);

  *{
    color: var(--primary-text-color);
  }
}

button{
  color: #ffffff !important;
}

/* This is a more specific selector for the toast text */
.react-hot-toast *{
  color: var(--background-color) !important;
}
.react-hot-toast {
  background-color: var(--primary-text-color) !important;
}

.loader{
  width: 100%;
  height: 100vh;
  transition: background-color .4s;
}